*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #005289;
    width: 100%;
    height: 100vh;
    position: relative;
}
.info{
    text-align: center;
}
.info span {
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}
.info h1{
    font-size: 27px;
    color: #fff;
}
.info p{
    font-size: 20px;
    color: #fff;
    margin: 10px;
}
.info button {
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    display: none;
    width: 500px;
    text-align: center;
    height: auto;
    background-color: #fcffcf;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
    position: fixed;
    top: 5%;
    left: 31%;
    transition: all 0.5s ease-in-out;
    animation: slide ease 0.8s;
}
@keyframes slide {
    0% {
        transform: translateY(-30rem);
    }
    100% {
        transform: translateY(0);
    }
}
.modal hr{
    margin-bottom: 20px;
}
.modal p{
    margin-top: 20px;
}
.cross{
    display: flex;
    justify-content: space-between;
}
.icon {
    font-size: 35px;
    color: #005289;
    cursor: pointer;
    background-color: #fcffcf;
    border: 0;
}